statemachine/GetNewMessages.asl.yaml
# Copyright Fauna, Inc.
# SPDX-License-Identifier: MIT-0

Comment: A description of my state machine
StartAt: Retrieve new messages
States:
  Retrieve new messages:
    Type: Task
    Resource: ${GetNewMessagesFunctionArn}
    OutputPath: $.data
    Retry:
      - ErrorEquals:
          - Lambda.ServiceException
          - Lambda.AWSLambdaException
          - Lambda.SdkClientException
        IntervalSeconds: 2
        MaxAttempts: 6
        BackoffRate: 2
    Next: Check each message
  Check each message:
    Type: Map
    Iterator:
      StartAt: Is message available in requested locale?
      States:
        Is message available in requested locale?:
          Type: Choice
          Choices:
            - Not:
                Variable: $.language
                StringEqualsPath: $$.Execution.Input.language
              Next: Translate message
          Default: Return translated message
        Translate message:
          Type: Task
          Parameters:
            SourceLanguageCode: "en"
            TargetLanguageCode: "ar"
            Text.$: $.text
          Resource: arn:aws:states:::aws-sdk:translate:translateText
          Next: Store translation
        Store translation:
          Type: Task
          Resource: ${StoreTranslatedMessageFunctionArn}
          OutputPath: $.Payload
          Parameters:
            Payload.$: $
            FunctionName.$: $.storeLambda
          Retry:
            - ErrorEquals:
                - Lambda.ServiceException
                - Lambda.AWSLambdaException
                - Lambda.SdkClientException
              IntervalSeconds: 2
              MaxAttempts: 6
              BackoffRate: 2
          Next: Return translated message
        Return translated message:
          Type: Pass
          End: true
    Next: Return all translated messages
  Return all translated messages:
    Type: Pass
    End: true
