statemachine/GetNewMessages.asl.yaml
# Copyright Fauna, Inc.
# SPDX-License-Identifier: MIT-0

Comment: A description of my state machine
StartAt: Retrieve new messages
States:
  Retrieve new messages:
    Type: Task
    Resource: ${GetNewMessagesFunctionArn}
    OutputPath: $.data
    Retry:
      - ErrorEquals:
          - Lambda.ServiceException
          - Lambda.AWSLambdaException
          - Lambda.SdkClientException
        IntervalSeconds: 2
        MaxAttempts: 6
        BackoffRate: 2
    Next: Check each message
  Check each message:
    Type: Map
    Iterator:
      StartAt: Does message need to be translated?
      States:
        Does message need to be translated?:
          Type: Choice
          Choices:
            - Not:
                Variable: $.language
                StringEqualsPath: $$.Execution.Input.language
              Next: Translate message
          Default: Return translated message
        Translate message:
          Type: Task
          Parameters:
            SourceLanguageCode.$: $.language
            TargetLanguageCode.$: $$.Execution.Input.language
            Text.$: $.text
          Resource: arn:aws:states:::aws-sdk:translate:translateText
          ResultPath: $.translation
          Next: Store translation
        Store translation:
          Type: Task
          Resource: ${StoreTranslatedMessageFunctionArn}
          Retry:
            - ErrorEquals:
                - Lambda.ServiceException
                - Lambda.AWSLambdaException
                - Lambda.SdkClientException
              IntervalSeconds: 2
              MaxAttempts: 6
              BackoffRate: 2
          Next: Return translated message
        Return translated message:
          Type: Pass
          End: true
    Next: Return all translated messages
  Return all translated messages:
    Type: Pass
    End: true
